{% extends 'home.html' %}
{% load static %}
{% block body %}
<style>
.image{
display:flex;
float:left;
}
</style>
<div class="content">
    <div class="image ">
        <img src="https://media.istockphoto.com/id/1163498940/photo/interior-of-a-modern-luxury-hotel-double-bed-bedroom.jpg?s=612x612&w=0&k=20&c=75KFjgY3RHrQq2yTV4boA4A89qMeccMQZotFKIMURS8=" height="400px"width="400px">
    </div>

<div class ="room">

</div>
<div class="room-info">
    <h1>Delux Suite</h1>
    <p>lorem ipsum jkkjjhhhggffg</p>
</div>
 <br><br><br><form id="booking-form"action="" method="POST" >
   {% csrf_token %}
  <h2>Are you sure to cancel this booking:{{booking.room.number}}<br><br>{{booking.get_room_category}}<br><br>{{booking}}<br></h2>

   <div class="input_div">
     <button type="submit">Cancel booking</button>
   </div>

 </form>
</div>
{% endblock %}


